.note_delete_btn{
    padding:.5em;
    border:1px solid #000;
    position:absolute;
    right: -10px;
    top: 10px;
    background-color:rgb(89, 0, 255);
    border-radius: 10px;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: #fff;
}